.why-choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  .why-choose__heading-3{
    text-align: center;
  }
}

.advantage-cards__why-choose {
  margin-top: 40px;

  .advantage-cards__item {
    width: 210px;
  }

  .advantage-cards__img{
    //object-fit: scale-down;
  }

  .advantage-cads__heading-4 {

    margin-top: 20px;
    font-size: 25px;
    line-height: 30px;
  }
  .advantage-cards__text{
    margin-top: 10px;
  }
}