.father {
  position: relative;
  height: 500px;
}

.popup-cart {
  box-sizing: border-box;
  //display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  position: absolute;
  padding: 40px 30px 30px 30px;
  top: 60px;
  right: 28px;
  width: 670px;
  height: 150px;
  //border: 1px solid #94cada;
  border-radius: 15px;
  //box-shadow: 0px 0px 10px rgba(148, 202, 218, 0.76);
  box-shadow: 9px 5px 19px 5px rgba(31, 31, 31, 0.34);
  background: rgba(222, 231, 238, 0.68);

  z-index: 1;
}

.text {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #1f1f1f;
}

.popup-cart_item {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #1f1f1f;
  width: 100%;
  padding-bottom: 10px;
}

.menu-icons__cross {
  position: absolute;
  padding: 5px;

  top: 75px;
  right: 43px;
  z-index: 2;
}

.menu-icons__cross:hover {
  background-color: rgba(255, 129, 38, 0.87);
  border-radius: 50%;
  z-index: 1;
}

//.dropdown-menu {
//  .dropper_root {
//    position: relative;
//  }
//
//  .dropper_root > .menu__link:after {
//    content: url("img/dropper_root.svg");
//    padding-left: 7px;
//  }
//
//  .dropper_node {
//    position: relative;
//  }
//
//  .dropper_node > .menu__link:after {
//    content: url("img/dropper_node.svg");
//    padding-left: 7px;
//  }
//
//  .dropdown_down {
//    display: none;
//    position: absolute;
//  }
//
//  .dropdown_right {
//    display: none;
//    position: absolute;
//    top: 0;
//    left: 100%;
//    width: 100%;
//  }
//
//  .dropper_root:hover > ul {
//    display: block;
//  }
//
//  .dropper_node:hover > ul {
//    display: block;
//  }
//}
//.menu__link{
//  padding: 0 5px;
//}
//.menu__link:hover{
//  background-color: rgba(255, 129, 38, 0.81);
//  border-radius: 5px;
//}
